@model IEnumerable<CITBT.ViewModels.Events.EventViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (CheckUserRole.IsUserInRole(User.Identity.GetUserId(), "Admin") || CheckUserRole.IsUserInRole(User.Identity.GetUserId(), "EventOrganizer"))
{
    <p>
        @Html.ActionLink("Add Event", "Create")
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryFee)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <td>
                <div class="btn-group">
                    @if (CheckUserRole.IsUserInRole(User.Identity.GetUserId(), "Admin") || CheckUserRole.IsUserInRole(User.Identity.GetUserId(), "EventOrganizer"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                    @Html.ActionLink("Details", "Detail", new { id = item.Id }, new { @class = "btn btn-info" })
                </div>

            </td>
        </tr>
    }

</table>
